@import "variables";
@import "mixins";

.dashboard {

  &__header {
    height: $db-header-height;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
    z-index: 999;

    &:hover {
      color: #0cb40c;
    }
  }

  &__new {
    //margin-top: $db-header-height; // if dashboard__header position: fixed;
    background-color: #cecece;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .new__create {
      height: 150px;
      width: 150px;
      padding: 15px;
      background-color: #e8e8e8;
      box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      text-align: center;
      text-decoration: none;
      margin: .5rem;
      border: 2px solid #e8e8e8;

      &:hover {
        cursor: pointer;
        color: green;
        box-shadow: 0 2px 5px 2px #438243;
      }
    }
  }

  &__list {
    padding: 1rem;
    color: #888888;

    &-header {
      display: flex;
      justify-content: space-between;
      color: #373636;
      font-size: 16px;
      font-weight: 500;
      padding: 1rem 2rem 1rem;
      background-color: #e8e8e8;
      position: -webkit-sticky;
      position: sticky;
      top: $db-header-height;
      left: 0;
      right: 0;
      z-index: 99;

      .header-date {
        width: 40%;
        min-width: 280px;
        display: flex;
        justify-content: space-between;

        span {
          min-width: 136px;
        }
      }
    }

    &-content {
      list-style: none;
      margin-top: 1rem;
    }

    &-record {
      margin-bottom: 1rem;
      font-size: 14px;

      a {
        display: flex;
        justify-content: space-between;
        padding: .5rem 2rem .5rem;
        background-color: #e8e8e8;
        color: #888888;
        text-decoration: none;
        width: 100%;
        border-radius: 20px;

        .record-title {
          width: 59%;
          font-size: 15px;
          padding-right: 1rem;
        }

        .record-date {
          width: 40%;
          min-width: 280px;
          display: flex;
          justify-content: space-between;
        }

        &:hover {
          color: #438243;
          box-shadow: 0 2px 5px 2px #438243;
          cursor: pointer;
        }
      }
    }
  }

  &__view {
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    display: inherit;
    flex-wrap: inherit;
  }
}