@import "mixins";
@import "variables";

.excel__table {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: $header-height+$toolbar-height+$formula-height;
  left: 0;
  overflow: auto;
  padding-bottom: 150px;
  user-select: text;

  .table-row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  .row-info, .column-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0ecec;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    outline: none;
    position: relative;
  }

  .row-info span, .column-info span {
    user-select: none;
  }

  .row-info {
    min-width: $row-info-width;
    min-height: 20px;
    height: 100%;
  }

  .row-data {
    display: flex;
  }

  .column-info {
    min-width: 40px;
    width: $cell-width;
    height: 100%;
  }

  .cell {
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    min-height: 20px;
    padding: 5px;
    overflow: hidden;
    font-size: 18px;
    color: #000;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: whitesmoke;
    outline: none;
    white-space: nowrap;
  }

  .selected {
    outline: 2px solid $primary-color;
    z-index: 99;

  }

  .col-resize, .row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    border: 2px solid $primary-color;
    background-color: #fff;
    z-index: 999;

    &:hover {
      opacity: .8!important;
    }
  }

  .col-resize {
    top: 0;
    width: 3px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 3px;

    &:hover {
      cursor: row-resize;
    }
  }
}